jason file for the node-red dashboard.json
[
    {
        "id": "d5ac1f4391b9792e",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "185fe07c689efce7",
        "type": "mqtt in",
        "z": "d5ac1f4391b9792e",
        "name": "ON-OFF-esp",
        "topic": "Hawki-Medibox-MainONOFF-esp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "da521898cd62454a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "39b15001ae327901"
            ]
        ]
    },
    {
        "id": "059602c1b265df4b",
        "type": "ui_switch",
        "z": "d5ac1f4391b9792e",
        "name": "Main Switch",
        "label": "switch",
        "tooltip": "",
        "group": "7c53a6a6f72f660d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 550,
        "y": 100,
        "wires": [
            [
                "39058757e9033680"
            ]
        ]
    },
    {
        "id": "39058757e9033680",
        "type": "mqtt out",
        "z": "d5ac1f4391b9792e",
        "name": "",
        "topic": "Hawki-Medibox-MainONOFF",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "da521898cd62454a",
        "x": 860,
        "y": 100,
        "wires": []
    },
    {
        "id": "152870847aef9104",
        "type": "mqtt in",
        "z": "d5ac1f4391b9792e",
        "name": "ON-SCHesp",
        "topic": "Hawki-Medibox-ON-schESP",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "da521898cd62454a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "ebb55f9851530e31"
            ]
        ]
    },
    {
        "id": "ebb55f9851530e31",
        "type": "function",
        "z": "d5ac1f4391b9792e",
        "name": "function 7",
        "func": "return {\n    payload: msg.payload === 1\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 240,
        "wires": [
            [
                "eb40af446f165e27"
            ]
        ]
    },
    {
        "id": "eb40af446f165e27",
        "type": "ui_switch",
        "z": "d5ac1f4391b9792e",
        "name": "Schedule Switch",
        "label": "switch",
        "tooltip": "",
        "group": "5c9ba0af6070cf92",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 320,
        "wires": [
            [
                "6c79fe76fa4b8ace"
            ]
        ]
    },
    {
        "id": "6c79fe76fa4b8ace",
        "type": "change",
        "z": "d5ac1f4391b9792e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "isScheduled",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 320,
        "wires": [
            [
                "87ef2c2abf947742"
            ]
        ]
    },
    {
        "id": "706cdd97d98cf0a2",
        "type": "ui_date_picker",
        "z": "d5ac1f4391b9792e",
        "name": "",
        "label": "ON",
        "group": "5c9ba0af6070cf92",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 370,
        "y": 380,
        "wires": [
            [
                "f9a40cbd376aeddc"
            ]
        ]
    },
    {
        "id": "8e71dfac6a2d84b1",
        "type": "ui_text_input",
        "z": "d5ac1f4391b9792e",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "5c9ba0af6070cf92",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 380,
        "y": 440,
        "wires": [
            [
                "62601734fcd58f22"
            ]
        ]
    },
    {
        "id": "f9a40cbd376aeddc",
        "type": "change",
        "z": "d5ac1f4391b9792e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "scheduleDate",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 380,
        "wires": [
            [
                "87ef2c2abf947742"
            ]
        ]
    },
    {
        "id": "62601734fcd58f22",
        "type": "change",
        "z": "d5ac1f4391b9792e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "scheduleTime",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 440,
        "wires": [
            [
                "87ef2c2abf947742"
            ]
        ]
    },
    {
        "id": "87ef2c2abf947742",
        "type": "function",
        "z": "d5ac1f4391b9792e",
        "name": "function 8",
        "func": "let isScheduled = global.get(\"isScheduled\");\nlet scheduleDate = global.get(\"scheduleDate\");\nlet scheduleTime = global.get(\"scheduleTime\");\n\nif (isScheduled && scheduleDate && scheduleTime) {\n    let schedule = scheduleDate + scheduleTime;\n\n    if (Date.now() > schedule) {\n        return {\n            payload: \"OLDER\"\n        }\n    } else {\n        return {\n            payload: schedule\n        }\n    }\n} else if (isScheduled === false) {\n    return {\n        payload: \"NOT-SCHEDULED-ON\"\n    }\n} else {\n    return {\n        payload: null\n    }\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 380,
        "wires": [
            [
                "d2229e533c0d2a1f"
            ]
        ]
    },
    {
        "id": "d2229e533c0d2a1f",
        "type": "switch",
        "z": "d5ac1f4391b9792e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "NOT-SCHEDULED-ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OLDER",
                "vt": "str"
            },
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 1130,
        "y": 380,
        "wires": [
            [
                "dc88477ec346b391"
            ],
            [
                "e3776d2da5b78338"
            ],
            [
                "abf9d9771f90c3d4"
            ],
            [
                "ac1bc0463e06fac8"
            ]
        ]
    },
    {
        "id": "dc88477ec346b391",
        "type": "function",
        "z": "d5ac1f4391b9792e",
        "name": "function 9",
        "func": "return {\n    payload: \"NOT\"\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 320,
        "wires": [
            [
                "369560305bf26545"
            ]
        ]
    },
    {
        "id": "abf9d9771f90c3d4",
        "type": "function",
        "z": "d5ac1f4391b9792e",
        "name": "function 10",
        "func": "return {\n    payload: Math.round(msg.payload / 1000)\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 360,
        "wires": [
            [
                "369560305bf26545"
            ]
        ]
    },
    {
        "id": "e3776d2da5b78338",
        "type": "function",
        "z": "d5ac1f4391b9792e",
        "name": "function 11",
        "func": "return {\n    payload: \"please enter a future time\"\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 400,
        "wires": [
            [
                "6004269c31787f69"
            ]
        ]
    },
    {
        "id": "ac1bc0463e06fac8",
        "type": "function",
        "z": "d5ac1f4391b9792e",
        "name": "function 12",
        "func": "return {\n    payload: \"please enter a valid date and time\"\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 440,
        "wires": [
            [
                "6004269c31787f69"
            ]
        ]
    },
    {
        "id": "369560305bf26545",
        "type": "mqtt out",
        "z": "d5ac1f4391b9792e",
        "name": "",
        "topic": "Hawki-Medibox-ON-SCH",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "da521898cd62454a",
        "x": 1650,
        "y": 340,
        "wires": []
    },
    {
        "id": "6004269c31787f69",
        "type": "ui_toast",
        "z": "d5ac1f4391b9792e",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1630,
        "y": 420,
        "wires": []
    },
    {
        "id": "21d8390fefd6c1eb",
        "type": "mqtt in",
        "z": "d5ac1f4391b9792e",
        "name": "",
        "topic": "Hawki-Medibox-Temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "da521898cd62454a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 520,
        "wires": [
            [
                "c1f1104123659bc1",
                "309eec057a9290b1"
            ]
        ]
    },
    {
        "id": "c1f1104123659bc1",
        "type": "ui_chart",
        "z": "d5ac1f4391b9792e",
        "name": "",
        "group": "5570689ca0642063",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "0589c126e29fa8bf",
        "type": "mqtt in",
        "z": "d5ac1f4391b9792e",
        "name": "",
        "topic": "Hawki-Medibox-Light",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "da521898cd62454a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 700,
        "wires": [
            [
                "2aca3a0d0113472f",
                "7c3ccc0a135f38b4",
                "f829f4bd51b448d7"
            ]
        ]
    },
    {
        "id": "2aca3a0d0113472f",
        "type": "mqtt out",
        "z": "d5ac1f4391b9792e",
        "name": "",
        "topic": "Hawki-Medibox-Light-Intensity",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "da521898cd62454a",
        "x": 790,
        "y": 660,
        "wires": []
    },
    {
        "id": "7c3ccc0a135f38b4",
        "type": "ui_gauge",
        "z": "d5ac1f4391b9792e",
        "name": "",
        "group": "2707181ba258a86b",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 700,
        "wires": []
    },
    {
        "id": "f829f4bd51b448d7",
        "type": "ui_chart",
        "z": "d5ac1f4391b9792e",
        "name": "",
        "group": "2707181ba258a86b",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "29cfa98f5394fbea",
        "type": "ui_text",
        "z": "d5ac1f4391b9792e",
        "group": "2707181ba258a86b",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Highest Side",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 860,
        "wires": []
    },
    {
        "id": "fe958b66312ffdcd",
        "type": "mqtt in",
        "z": "d5ac1f4391b9792e",
        "name": "",
        "topic": "Hawki-Medibox-Light-Side",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "da521898cd62454a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 860,
        "wires": [
            [
                "29cfa98f5394fbea"
            ]
        ]
    },
    {
        "id": "1416a0aa18a7d1a5",
        "type": "ui_dropdown",
        "z": "d5ac1f4391b9792e",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "a964b736f46eb5ba",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "table A",
                "value": 1,
                "type": "num"
            },
            {
                "label": "table B",
                "value": 2,
                "type": "num"
            },
            {
                "label": "table C",
                "value": "3",
                "type": "str"
            },
            {
                "label": "Custom",
                "value": "4",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 220,
        "y": 980,
        "wires": [
            [
                "506133b59bb72b1f"
            ]
        ]
    },
    {
        "id": "506133b59bb72b1f",
        "type": "switch",
        "z": "d5ac1f4391b9792e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 450,
        "y": 980,
        "wires": [
            [
                "3479f6f8ac3953a5",
                "95ac09708c8e6422"
            ],
            [
                "4523d225577caa22",
                "48083771090b926f"
            ],
            [
                "5a9a7ae675a4ecec",
                "21465d88eecf009b"
            ],
            []
        ]
    },
    {
        "id": "3479f6f8ac3953a5",
        "type": "change",
        "z": "d5ac1f4391b9792e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "30",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 920,
        "wires": [
            [
                "c6686c25c48544f8"
            ]
        ]
    },
    {
        "id": "95ac09708c8e6422",
        "type": "change",
        "z": "d5ac1f4391b9792e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0.75",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 960,
        "wires": [
            [
                "c9c5075b0418a59b"
            ]
        ]
    },
    {
        "id": "4523d225577caa22",
        "type": "change",
        "z": "d5ac1f4391b9792e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "60",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1040,
        "wires": [
            [
                "c6686c25c48544f8"
            ]
        ]
    },
    {
        "id": "48083771090b926f",
        "type": "change",
        "z": "d5ac1f4391b9792e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0.25",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1080,
        "wires": [
            [
                "c9c5075b0418a59b"
            ]
        ]
    },
    {
        "id": "5a9a7ae675a4ecec",
        "type": "change",
        "z": "d5ac1f4391b9792e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "90",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1160,
        "wires": [
            [
                "c6686c25c48544f8"
            ]
        ]
    },
    {
        "id": "21465d88eecf009b",
        "type": "change",
        "z": "d5ac1f4391b9792e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0.5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1200,
        "wires": [
            [
                "c9c5075b0418a59b"
            ]
        ]
    },
    {
        "id": "c6686c25c48544f8",
        "type": "ui_slider",
        "z": "d5ac1f4391b9792e",
        "name": "Minimum Angle",
        "label": "minimum angle",
        "tooltip": "",
        "group": "a964b736f46eb5ba",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "120",
        "step": 1,
        "className": "",
        "x": 1060,
        "y": 960,
        "wires": [
            [
                "142eee01f652c8c2"
            ]
        ]
    },
    {
        "id": "c9c5075b0418a59b",
        "type": "ui_slider",
        "z": "d5ac1f4391b9792e",
        "name": "Controlling Factor",
        "label": "controller factor",
        "tooltip": "",
        "group": "a964b736f46eb5ba",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "className": "",
        "x": 1070,
        "y": 1120,
        "wires": [
            [
                "b0463166f6af63c7"
            ]
        ]
    },
    {
        "id": "142eee01f652c8c2",
        "type": "mqtt out",
        "z": "d5ac1f4391b9792e",
        "name": "",
        "topic": "Hawki-Medibox-Shade-Angle",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "da521898cd62454a",
        "x": 1340,
        "y": 960,
        "wires": []
    },
    {
        "id": "b0463166f6af63c7",
        "type": "mqtt out",
        "z": "d5ac1f4391b9792e",
        "name": "",
        "topic": "Hawki-Medibox-Shade-Control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "da521898cd62454a",
        "x": 1370,
        "y": 1120,
        "wires": []
    },
    {
        "id": "309eec057a9290b1",
        "type": "ui_gauge",
        "z": "d5ac1f4391b9792e",
        "name": "",
        "group": "5570689ca0642063",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 520,
        "wires": []
    },
    {
        "id": "39b15001ae327901",
        "type": "function",
        "z": "d5ac1f4391b9792e",
        "name": "function 13",
        "func": "return {\n    payload: msg.payload === 1\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 100,
        "wires": [
            [
                "059602c1b265df4b"
            ]
        ]
    },
    {
        "id": "da521898cd62454a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7c53a6a6f72f660d",
        "type": "ui_group",
        "name": "Main Switch",
        "tab": "bd3d749dbe51a008",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5c9ba0af6070cf92",
        "type": "ui_group",
        "name": "Schedule",
        "tab": "bd3d749dbe51a008",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5570689ca0642063",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "bd3d749dbe51a008",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2707181ba258a86b",
        "type": "ui_group",
        "name": "Light Intensity",
        "tab": "bd3d749dbe51a008",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a964b736f46eb5ba",
        "type": "ui_group",
        "name": "Shade controller",
        "tab": "bd3d749dbe51a008",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bd3d749dbe51a008",
        "type": "ui_tab",
        "name": "Medibox",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]